* {
  font-family: "Spline Sans", sans-serif;
  padding: 0;
  margin: 0;
}

audio {
  box-shadow: 20px 20px 50px rgb(17, 132, 66);
  margin: 20px 30px;
  padding: 2px 3px;
  width: 75%;
  border-radius: 80px;
  border: 2px solid black;
}

h1 {
  text-align: center;

  margin: 20px 30px;
  font-size: 50px;
  background-image: linear-gradient(
    to right,
    #4fa364,
    #00a596,
    #00a2c0,
    #3498d4,
    #8989cb
  );
  border-left: ridge 8px purple;
  border-right: ridge 8px purple;
  background-clip: text;
  color: transparent;
  border-radius: 30px;
}

h2 {
  text-align: center;

  font-size: 40px;
  margin: 25px 30px;

  background-clip: text;
}

h3 {
  text-align: center;
  background-image: linear-gradient(
    to left,
    #29332b,
    #132d2a,
    #00252e,
    #001c31,
    #0d0d2c
  );
  background-clip: text;
  font-size: 30px;
  margin: 20px 30px;
  color: transparent;
}

p {
  text-align: center;

  margin: 20px 30px;
  padding: 20px 30px;
  border-left: 4px solid red;
  border-right: 2px solid red;
  border-radius: 20px;
}

del {
  background: white;
  color: black;
}

video,
img {
  margin: 20px 30px;
  padding: 5px 7px;
  border-radius: 30px;
  border: 3px solid black;
}

.two {
  box-shadow: 5px 5px 15px rgb(132, 66, 123);
  margin: 10px 15px;
  padding: 10px 15px;
  border-radius: 50px;
  text-align: center;
}
body {
  text-align: center;
}
mark {
  background: rgb(88, 90, 92);
  color: black;
  border-radius: 10px;
}
.last {
  background-color: rgba(67, 14, 14, 0.5);

  padding: 20px 30px;
}

.one:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);

  
  
}
.songs {
  background-color: rgba(14, 67, 14, 0.5);

  padding: 20px 30px;
}
.Teaser1 {
  background-color: rgba(146, 146, 41, 0.423);

  padding: 20px 30px;
}
.Teaser2 {
  background-color: rgba(43, 167, 167, 0.5);

  padding: 20px 30px;
}
audio:hover,
video:hover { 
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}