* {
  font-family: "Spline Sans", sans-serif;
}

audio {
  box-shadow: 20px 20px 50px rgb(17, 132, 66);
  margin: 20px 30px;
  padding: 2px 3px;
  width: 75%;
  border-radius: 80px;
  border: 2px solid black;
}

h1 {
  text-align: center;

  margin: 20px 30px;
  font-size: 50px;
  background-image: linear-gradient(
    to right,
    #4fa364,
    #00a596,
    #00a2c0,
    #3498d4,
    #8989cb
  );
  border-left: ridge 8px purple;
  border-right: ridge 8px purple;
  background-clip: text;
  color: transparent;
  border-radius: 30px;
}

h2 {
  text-align: center;

  font-size: 40px;
  margin: 25px 30px;

  background-clip: text;
}

h3 {
  text-align: center;
  background-image: linear-gradient(
    to left,
    #29332b,
    #132d2a,
    #00252e,
    #001c31,
    #0d0d2c
  );
  background-clip: text;
  font-size: 30px;
  margin: 20px 30px;
  color: transparent;
}

p {
  text-align: center;

  margin: 20px 30px;
  padding: 20px 30px;
  border-left: 4px solid red;
  border-right: 2px solid red;
  border-radius: 20px;
}

hhr {
  border: 2px solid black;
  box-shadow: 5px 5px 15px rgb(132, 66, 123);
}

del {
  background: white;
  color: black;
}

video,
img {
  box-shadow: 10px -10px 30px rgb(66, 17, 132);
  margin: 20px 30px;
  padding: 5px 7px;
  border-radius: 30px;
  border: 3px solid black;
}

.two {
  box-shadow: 5px 5px 15px rgb(132, 66, 123);
  margin: 10px 15px;
  padding: 10px 15px;
  border-radius: 50px;
  text-align: center;
}
body {
  text-align: center;
  background-image: linear-gradient(
    to right bottom,
    #cc80ac,
    #b57cad,
    #9c79ab,
    #8475a5,
    #6e709c,
    #5f7098,
    #516f92,
    #476e8a,
    #417186,
    #3f7481,
    #42767b,
    #497774
  );
}
mark {
  background: rgb(88, 90, 92);
  color: black;
  border-radius: 10px;
 
}
